@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  min-height: 100dvh;
  background-color: #faebd7;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  outline: none;
  text-decoration: none;
  color: white;
}
h1 {
  font-size: clamp(1.25rem, 0.125rem + 2vw, 1.875rem);
  font-weight: 900;
  color:#363F58;
}


.blue-dot{
  display: inline-block;
  width: 15px;
  aspect-ratio: 1;
  background-color: #0094B4;
  border-radius:50%;
}
